@tailwind base;
@tailwind components;
@tailwind utilities;


#page1-in{
    position: relative;
    perspective: 1000px;
}

#section02{
    position: relative;
    perspective: 2000px;
}

#titltDiv{
    width: fit-content;
}

.rotateText{
    transform-origin: 100% 70%;
}

#hero-section{
    background-image: url('/frontend_banner_light.png');
    background-repeat: no-repeat;
}

@media(max-width:768px){
    
    #section02{
        display: none;
    }
    /* #hero-section{
        background-image: none;
    } */
}
